﻿<template>
    <b-card-group deck>

        <b-card v-for="test in tests" :key="test.id" bg-variant="light" :title="test.title">
            <b-button v-b-modal="test.title" variant="primary">Start</b-button>
            <b-modal :id="test.title" :title="test.title" hide-footer>
                <p class="my-4">{{test.description}}</p>
                <b-form-checkbox id="checkbox" v-model="status" name="checkbox" value="accepted"
                                 unchecked-value="not_accepted">
                    I agree to start
                </b-form-checkbox>
                <b-button class="mt-4" :disabled="disabled"  variant="primary" 
                          v-on:click="$router.push({ name: 'Test', params : { id : test.id}})">Proceed</b-button>
            </b-modal>
        </b-card>
    </b-card-group>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: 'Home',
        data() {
            return {
                status: 'not_accepted',
                disabled: true,
            }
        },
        computed: {
            ...mapGetters({
                tests: 'test/getTests'
            })
        },
        watch: {
            status: function () {
                if (this.status == "accepted") this.disabled = false;
                else this.disabled = true;
            }
        },
        mounted() {
            this.$store.dispatch("test/GetTests");
        }
    }
</script>

<style scoped>
    .card {
        text-align: left;
        margin: 15px;
    }
</style>
