﻿<template>
    <div class="card">
        <b-form @submit.prevent="login">
            <b-form-group label="Email address:" label-for="email" description="We'll never share your email with anyone else.">
                <b-form-input id="email" name="Email" type="email" placeholder="Enter email..."
                              required></b-form-input>
            </b-form-group>

            <b-form-group label="Password:" label-for="password">
                <b-form-input id="password" name="Password" type="password"
                              placeholder="Enter password..." required>
                </b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary" class="w-100">Login</b-button>
        </b-form>
        <div class="invalid-feedback">
            {{errorMessage}}
        </div>
    </div>

</template>

<script>
    export default {
        name: 'Login',
        data() {
            return {
                errorMessage: ''
            }
        },
        methods: {
            login(event) {
                let formData = new FormData(event.target);
                this.$store.dispatch("account/Login", formData, { root: true })
                    .then(() => this.successfulLogin())
                    .catch((error) => this.unsuccessfulLogin(error));
            },
            successfulLogin() {
                this.errorMessage = null;
                this.$router.push("/");
            },
            unsuccessfulLogin(error) {
                console.log(error.response.data);
                this.errorMessage = error.response.data;
            }
        }
    }
</script>

<style scoped>
    .card {
        padding: 10px;
        max-width: 600px;
        margin: 150px auto 0 auto;
        text-align: left;
    }

    .login-form {
        max-width: 600px;
    }

    .invalid-feedback {
        text-align: center;
        display: block !important;
    }
</style>
