﻿<template>
    <div>
        <p class="display-4 mt-4">Your score is: {{ percents.toFixed(0) }}%</p>
        <b-progress :max="allAnswersCount" height="4rem">
            <b-progress-bar :value="rightAnswersCount">
                <span>Correct Answers: <strong>{{ rightAnswersCount.toFixed(0) }} / {{ allAnswersCount }}</strong></span>
            </b-progress-bar>
        </b-progress>
        <b-button v-on:click="$router.push({ name: 'Home'})" variant="primary" class="mt-4">Back to tests</b-button>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: 'TestResult',
        data() {
            return {
                rightAnswersCount: 0,
                allAnswersCount: 0
            }        
        },
        computed: {
            ...mapGetters({
                result: 'test/getResult'
            }),
            percents() {
                return this.rightAnswersCount * 100 / this.allAnswersCount;
            }
        },
        mounted() {
            this.rightAnswersCount = this.result.rightAnswersCount;
            this.allAnswersCount = this.result.allAnswers;
        }
    }
</script>

<style scoped>
    span {
        font-size: 20px !important;
    }
</style>
