﻿<template>
    <div>
        <div class="display-4 mt-4">{{test.title}}</div>
        <b-card class="mt-4" :title="question.text">
            <hr />
            <b-form-group v-slot="{ ariaDescribedby }" required>
                <b-form-radio v-for="answer in question.answers" :key="answer.id" v-model="selected"
                              :aria-describedby="ariaDescribedby" name="some-radios"
                              :value="answer.id">{{answer.text}}</b-form-radio>
            </b-form-group>
            <b-button v-if="!isLastQuestion" variant="primary" v-on:click="next">Next</b-button>
            <b-button v-else variant="primary" v-on:click="getResult">Get results</b-button>
            <div class="invalid-feedback">
                {{errorMessage}}
            </div>
        </b-card>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: 'Test',
        data() {
            return {
                question: null,
                index: 0,
                selected: null,
                errorMessage: '',
                ids: []
            }
        },
        computed: {
            ...mapGetters({
                test: 'test/getTest'
            }),
            isLastQuestion() {
                if (this.index == this.test.questions.length - 1) return true;
                else return false;
            }
        },
        mounted() {
            this.$store.dispatch("test/GetTest", this.$route.params.id)
                .then(() => this.question = this.test.questions[this.index]);
        },
        methods: {
            next() {
                if (this.selected != null) {
                    this.ids.push(this.selected);
                    this.errorMessage = '';
                    this.index++;
                    if (this.test.questions[this.index]) {
                        this.question = this.test.questions[this.index];
                    }
                    else {
                        this.errorMessage = "It was last question!"
                    }
                }
                else {
                    this.errorMessage = "Choose one answer!"
                }
            },
            getResult() {
                if (this.selected != null) {
                    this.ids.push(this.selected);
                    this.$store.dispatch("test/GetResult", this.ids)
                        .then(() => this.$router.push("/result"));

                }
                else {
                    this.errorMessage = "Choose one answer!"
                }
            }
        }
    }
</script>

<style scoped>
    .card {
        text-align: left;
    }

    .invalid-feedback {
        text-align: center;
        display: block !important;
    }
</style>
