﻿<template>
    <div id="app">
        <div>
            <b-navbar toggleable="lg" variant="light">
                <b-navbar-brand href="#" v-on:click="$router.push({ name: 'Home'})">Test Application</b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <b-dropdown v-if="isAuthenticated" id="dropdown-1" :text="currentUser.email"  variant="primary"
                                    class="m-md-2">
                            <b-dropdown-item @click="logout">
                                Logout
                            </b-dropdown-item>
                        </b-dropdown>
                        <div v-else>
                            <button class="btn btn btn-outline-dark my-2 my-sm-0 ml-2" v-on:click="$router.push({ name: 'Login'})">Login</button>
                        </div>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </div>
        <b-container>
            <router-view />
        </b-container>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                isAuthenticated: 'account/isAuthenticated',
                currentUser: 'account/currentUser'
            })
        },
        methods: {
            logout() {
                this.$store.dispatch("account/Logout", { root: true })
                    .then(() => this.successfulLogout())
                    .catch((error) => this.unsuccessfulLogout(error));
            },
            successfulLogout() {
                this.errorMessage = null;
                this.$router.push("/login");
            },
            unsuccessfulLogout(error) {
                this.errorMessage = error.response.data;
            }
        }
    }
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }
</style>
